{% extends "base.html" %}

{% block content %}
<head>
    <title>Daily Tasks</title>
</head>
<body>
    <h1>Daily Tasks</h1>
        <form method="post">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Completed</th>
                        <th>Task Name</th>
                        <!-- Add headers for additional custom content columns here -->
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>
                            <input type="checkbox" name="completed_{{ task.seq_no }}" {% if task.completed %} checked {% endif %}>
                        </td>
                        <td>{{ task.task_name }}<br>
                        <!-- Add cells for additional custom content here -->
                        {% if task.seq_no == 10 %}
                            <!-- Update exchange rates -->
                            <a href="https://www.google.com/finance/quote/USD-EUR">USD exchange rate</a><br>
                            <a href="https://www.google.com/finance/quote/EUR-JPY">USD exchange rate</a><br>
                            <a href="{% url 'edit_all_params' %}">Edit parameters</a>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit">Update Tasks</button>
        </form>
</body>
{% endblock %}