{% extends "base.html" %}

{% block content %}
  <h2>Daily Price History for {{ ticker.symbol }}</h2>
  <table>
    <thead>
      <tr>
        <th style="width: 20ch;">Date</th>
        <th style="width: 10ch;">Open</th>
        <th style="width: 10ch;">High</th>
        <th style="width: 10ch;">Low</th>
        <th style="width: 10ch;">Close</th>
        <th style="width: 10ch;">Volume</th>
      </tr>
    </thead>
    <tbody>
      {% for daily_price in daily_prices %}
        <tr>
          <td>{{ daily_price.datetime|date:"d/m/Y" }}</td>
          <td>{{ daily_price.open_price }}</td>
          <td>{{ daily_price.high_price }}</td>
          <td>{{ daily_price.low_price }}</td>
          <td>{{ daily_price.close_price }}</td>
          <td>{{ daily_price.volume }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">No daily price data available.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'ticker_config' %}">Back to Ticker Configuration</a>
{% endblock %}
