{% extends 'base.html' %}

{% block content %}
<h1>Monthly Trading Performance</h1>
<table border="1">
    <thead>
        <tr>
            <th style="text-align:center; width: 16ch;">Month</th>
            <th style="text-align:center; width: 12ch;">EUR Spent</th>
            <th style="text-align:center; width: 12ch;">EUR Gained</th>
            <th style="text-align:center; width: 12ch;">Commissions (EUR)</th>
            <th style="text-align:center; width: 12ch;">Realised Profit</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in monthly_performance %}
        <tr>
            <td style="text-align:center;">{{ entry.month|date:"F Y" }}</td>
            <td style="text-align:right;">{{ entry.total_spent }}</td>
            <td style="text-align:right;">{{ entry.total_gained }}</td>
            <td style="text-align:right;">{{ entry.total_commission }}</td>
            <td style="text-align:right;">{{ entry.realised_profit }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
