{% extends 'base.html' %}

{% block content %}
<h1>Monthly Trading Performance</h1>
<table border="1">
    <thead>
        <tr>
            <th style="text-align:center; width: 16ch;">Month</th>
            <th style="text-align:center; width: 12ch;">EUR Spent</th>
            <th style="text-align:center; width: 12ch;">EUR Gained</th>
            <th style="text-align:center; width: 12ch;">Commissions (EUR)</th>
            <th style="text-align:center; width: 12ch;">Realised Profit</th>
        </tr>
    </thead>
    <tbody>
        {% for month in monthly_performance.items %}
            {% for data in monthly_performance.month.items %}
                <tr>
                    <td style="text-align:center;">{{ month }}</td> <!-- Changed this line -->
                    <td style="text-align:right;">{{ data.total_spent }}</td>
                    <td style="text-align:right;">{{ data.total_gained }}</td>
                    <td style="text-align:right;">{{ data.total_commission }}</td>
                    <td style="text-align:right;">{{ data.realised_profit }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<h2>Debug Data: Trading Opportunities Performance</h2>
<table border="1">
    <thead>
        <tr>
            <th>Date</th>
            <th>Trading Opportunity ID</th>
            <th>EUR Spent</th>
            <th>EUR Gained</th>
            <th>Commission (EUR)</th>
            <th>Realised Profit (EUR)</th>
        </tr>
    </thead>
    <tbody>
        {% for opp in trading_opps_performance %}
        <tr>
            <td>{{ opp.date}}</td>
            <td>{{ opp.tradingopp.id }}</td>
            <td>{{ opp.eur_spent }}</td>
            <td>{{ opp.eur_gained }}</td>
            <td>{{ opp.commission_eur }}</td>
            <td>{{ opp.realised_profit }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
