{% extends 'base.html' %}

{% block content %}
<h1>Strategy Trading Performance</h1>
<table border="1">
    <thead>
        <tr>
            <th style="text-align:center; width: 20ch;">Strategy</th>
            <th style="text-align:center; width: 12ch;">Number of trades</th>
            <th style="text-align:center; width: 12ch;">EUR Spent</th>
            <th style="text-align:center; width: 12ch;">EUR Gained</th>
            <th style="text-align:center; width: 12ch;">Commissions (EUR)</th>
            <th style="text-align:center; width: 12ch;">Realised Profit</th>
            <th style="text-align:center; width: 12ch;">Profit trade count</th>
            <th style="text-align:center; width: 12ch;">Profit trades percent</th>
            <th style="text-align:center; width: 12ch;">Average duration (days)</th>
            <th style="text-align:center; width: 12ch;">Growth rate</th>
            <th style="text-align:center; width: 12ch;">CAGR</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in strategy_performance %}
            <tr>
                <td style="text-align:center;">{{ entry.strategy }}</td>
                <td style="text-align:center;">{{ entry.trade_count }}</td>
                <td style="text-align:right;">{{ entry.total_spent }}</td>
                <td style="text-align:right;">{{ entry.total_gained }}</td>
                <td style="text-align:right;">{{ entry.total_commission }}</td>
                <td style="text-align:right;">{{ entry.realised_profit }}</td>
                <td style="text-align:center;">{{ entry.profitable_trade_count }}</td>
                <td style="text-align:center;">{{ entry.percent_profitable_trades }} %</td>
                <td style="text-align:center;">{{ entry.average_duration }}</td>
                <td style="text-align:right;">{{ entry.growth_rate }} %</td>
                <td style="text-align:right;">{{ entry.cagr }} %</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Trading Opportunities Details</h2>
{% for strategy in strategy_performance %}
    <h3>{{ strategy.strategy }} Details</h3>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ticker</th>
                <th>EUR Spent</th>
                <th>EUR Gained</th>
                <th>Commissions (EUR)</th>
                <th>Realised Profit</th>
            </tr>
        </thead>
        <tbody>
            {% for opp in strategy.strategy_details %}
                <tr>
                    <td>{{ opp.id }}</td>
                    <td>{{ opp.ticker.symbol }}</td>
                    <td>{{ opp.eur_spent }}</td>
                    <td>{{ opp.eur_gained }}</td>
                    <td>{{ opp.commission_eur }}</td>
                    <td>{{ opp.realised_profit }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% endblock %}
