{% extends "base.html" %}

{% block content %}
    <h1>Tasks in Queue: {{ count }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Task Name</th>
                <th>Task Params</th>
                <th>Run At</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.task_name }}</td>
                <td>{{ task.task_params }}</td>
                <td>{{ task.run_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
