{% extends "base.html" %}

{% load humanize %}
{% block content %}
<h3>{{ ticker.symbol }} - {{ ticker.company_name }}</h3>

<p>Last close price: <strong>{{ close_price }}</strong></p>

<table style="border: 1pt solid black;">
    <thead>
      <tr>
        <th style="border: 1pt solid black; padding: 3pt; text-align:center;">Trend and momentum</th>
        <th style="border: 1pt solid black; padding: 3pt; text-align:center;">Candlestick pattern from yesterday:</th>
        <th style="border: 1pt solid black; padding: 3pt; text-align:center;">Support / Resistance Levels</th>
        <th style="border: 1pt solid black; padding: 3pt; text-align:center;">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr style="border: 1pt solid black;">
          <td style="border: 1pt solid black; padding: 3pt; text-align:left;">
            <p>Moving average 200 strength = abs(MA - price)/price: {{ ticker.ma_200_trend_strength }}</p>
            <p>2 period cumulative RSI: <span style="color: {% if ticker.cumulative_two_period_two_day_rsi < 10 %}green{% elif ticker.cumulative_two_period_two_day_rsi > 65 %}red{% endif %};">{{ ticker.cumulative_two_period_two_day_rsi|floatformat:1 }}</span></p>
            <p>Average volume (100 days): {{ ticker.avg_volume_100_days|floatformat:0 }}k</p>
            <p>Average trade range: {{ ticker.atr|floatformat:2 }}</p>
          <td style="border: 1pt solid black; padding: 3pt; text-align:left;">
            <p>Patterns detected: <strong>{{ patterns_detected }}</strong></p>
            <p>Bullish pattern detected: <span style="color: {% if bullish_detected == 'True' %}green{% endif %}; {% if bullish_detected == 'True' %}font-weight:bold{% endif %};">{{ bullish_detected }}</span></p>
            <p>Bullish reversal pattern detected: <span style="color: {% if bullish_reversal_detected == 'True' %}green{% endif %}; {% if bullish_reversal_detected == 'True' %}font-weight:bold{% endif %};">{{ bullish_reversal_detected }}</></p>
            <p>Reversal pattern detected: <span style="{% if reversal_detected == 'True' %}font-weight:bold{% endif %};">{{ reversal_detected }}</p>
            <p>Bearish pattern detected: <span style="color: {% if bearish_detected == 'True' %}red{% endif %}; {% if bearish_detected == 'True' %}font-weight:bold{% endif %};">{{ bearish_detected }}</span></p>
          </td>
          <td style="border: 1pt solid black; padding: 3pt; text-align:left;">
            <p>Currently at support / resistance level: <strong>
                <span style="color: {% if ticker.nearest_level_type == 'Support' %}green{% else %}red{% endif %};">
                    {{ ticker.nearest_level_type }} at {{ ticker.nearest_level_value }}
                </span></strong>
            </p>
            <p>% of price to nearest support / resistance: {{ ticker.nearest_level_percent_distance|floatformat:1 }} %</p>
            <p>Days since level was last retested: {{ ticker.nearest_level_days_since_retest }}</p>
          </td>
          <td style="border: 1pt solid black; padding: 3pt; text-align:left;">
            <ul>
                <li><a href="{% url 'manual_download' ticker.id 'day' %}">Download daily prices</a></li>
                <li><a href="{% url 'manual_download' ticker.id '15mins' %}">Download 15 mins prices</a></li>
                <li><a href="{% url 'manual_download' ticker.id '5mins' %}">Download 5 mins prices</a></li>
                <li><a href="{% url 'update_metrics' ticker.symbol %}">Recalculate Metrics</a></li>
            </ul>
            <form method="post" action="{% url 'delete_daily_price' %}" onsubmit="return confirm('Are you sure you want to delete all DailyPrice instances?');">
                {% csrf_token %}
                <input type="submit" value="Delete All DailyPrice Instances">
            </form>

            <form method="post" action="{% url 'delete_daily_price_with_symbol' ticker.symbol %}" onsubmit="return confirm('Are you sure you want to delete all DailyPrice instances with symbol {{ ticker.symbol }}?');">
                {% csrf_token %}
                <input type="submit" value="Delete DailyPrice Instances with Symbol {{ ticker.symbol }}">
            </form>

          </td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th colspan="5" style="text-align:center; border: 1px solid black; border-right: 1px solid black;">Support and resistance levels</th>
        </tr>

        <tr>
            <th style="text-align:center; width: 12ch; border-left: 1px solid black;">Datetime</th>
            <th style="text-align:center; width: 8ch; border-left: 1px solid black;">Days ago</th>
            <th style="text-align:center; width: 8ch; border-left: 1px solid black;">Level</th>
            <th style="text-align:center; width: 8ch; border-left: 1px solid black;">Retest count</th>
            <th style="text-align:center; width: 10ch; border-left: 1px solid black; border-right: 1px solid black;">% from close price</th>
        </tr>
    </thead>
    <tbody>
        {% for sr_level in daily_prices %}
        <tr>
            <td style="border-left: 1px solid black;">{{ sr_level.daily_price.datetime|date:"d/m/Y" }}</td>
            <td style="border-left: 1px solid black;">{{ sr_level.days_from_today }}</td>
            <td style="color: {% if sr_level.daily_price.level > close_price %}red{% else %}green{% endif %}; border-left: 1px solid black;">
                {{ sr_level.daily_price.level }}
            </td>
            <td style="text-align:center; border-left: 1px solid black;">{{ sr_level.daily_price.level_strength }}</td>
            <td style="text-align:center; border-left: 1px solid black; border-right: 1px solid black;">{{ sr_level.close_price_percentage|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
        <tr>
            <td style="border-left: 1px solid black;border-bottom: 1px solid black;"></td>
            <td style="border-left: 1px solid black;border-bottom: 1px solid black;"></td>
            <td style="color: {% if sr_level.daily_price.level > close_price %}red{% else %}green{% endif %}; border-left: 1px solid black;border-bottom: 1px solid black;"></td>
            <td style="text-align:center; border-left: 1px solid black;border-bottom: 1px solid black;"></td>
            <td style="text-align:center; border-left: 1px solid black; border-right: 1px solid black;border-bottom: 1px solid black;"></td>
        </tr>
    </tbody>
</table>

<table style="border: 1pt solid black;">
    <thead>
        <tr>
            <th colspan="2" style="text-align:center;">Swing points</th>
        </tr>

        <tr>
            <th style="text-align:center; width: 12ch;">Datetime</th>
            <th style="text-align:center; width: 8ch;">Type</th>
        </tr>
    </thead>
    <tbody>
        {% for sp in swing_points %}

        <tr>
            <td>{{ sp.swing_point.datetime|date:"d/m/Y" }}</td>
            <td style="color: {% if sp.swing_direction < 0 %}red{% else %}green{% endif %};">{{ sp.swing_point.swing_point_label }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
