{% extends "base.html" %}

{% load humanize %}
{% block content %}
  <h3>Ticker List</h3>
  <form method="post" action="">
    {% csrf_token %}
    {{ category_form.as_p }}
    <input type="submit" value="Filter">
  </form>

  <h3>Data filters</h3>
  <div>
      <label>
          <input type="checkbox" name="uptrend" {% if category_form.uptrend.value %}checked{% endif %}> Uptrend
      </label>
      <label>
          <input type="checkbox" name="downtrend" {% if category_form.downtrend.value %}checked{% endif %}> Downtrend
      </label>
      <label>
          <input type="checkbox" name="tae_score" {% if category_form.tae_score.value %}checked{% endif %}> TAE score
      </label>
      <label>
          <input type="checkbox" name="two_period_cum_rsi" {% if category_form.two_period_cum_rsi.value %}checked{% endif %}> 2-period cum RSI
      </label>

  </div>
  <h3>Existing Tickers:</h3>
  <p>Current hourly yahoo price update count: {{ hourly_price_query_count }} ({{ yahoo_update_rate_percent }}% of rate limit).</p>
  <a href="{% url 'ticker_add' %}">Add a Ticker</a>
  <table style="border: 1pt solid black;">
    <thead>
      <tr>
        <th  colspan="2" style="border: 1pt solid black; padding: 3pt;">Ticker Symbol</th>
        <th  colspan="5" style="border: 1pt solid black; padding: 3pt;">Price history</th>
        <th  colspan="1" style="border: 1pt solid black; padding: 3pt;">Trend</th>
        <th  colspan="3" style="border: 1pt solid black; padding: 3pt;">Area of Value</th>
        <th  colspan="5" style="border: 1pt solid black; padding: 3pt;">Event</th>
        <th  colspan="1" style="border: 1pt solid black; padding: 3pt;">2 period cumulative RSI</th>
        <th  colspan="2" style="border: 1pt solid black; padding: 3pt;">Double 7's strategy</th>
      </tr>
        <tr>
        <th style="text-align:center; width: 8ch; border-left: 1px solid black;">Symbol</th>
        <th style="text-align:center; width: 8ch;">Details</th>
        <th style="text-align:center; width: 8ch;border-left: 1pt solid black; padding: 3pt;"">Daily</th>
        <th style="text-align:center; width: 8ch;">15 mins</th>
        <th style="text-align:center; width: 8ch;">5 mins</th>
        <th style="text-align:center; width: 8ch;">Current</th>
        <th style="text-align:center; width: 8ch;">Avg vol 100 days (k)</th>
        <th style="text-align:center; width: 8ch;border-left: 1pt solid black; padding: 3pt;"">MA strength</th>
        <th style="text-align:center; width: 8ch;">% to support / resistance</th>
        <th style="text-align:center; width: 8ch;">Level type</th>
        <th style="text-align:center; width: 8ch;">Level value</th>
        <th style="text-align:center; width: 8ch;">Bullish pattern</th>
        <th style="text-align:center; width: 8ch;">Bullish reversal pattern</th>
        <th style="text-align:center; width: 8ch;">Reversal pattern</th>
        <th style="text-align:center; width: 8ch;">Bearish pattern</th>
        <th style="text-align:center; width: 8ch;">T.A.E. score</th>
        <th style="border: 1pt solid black; padding: 3pt; text-align:center; width: 8ch;"></th>
        <th style="text-align:center; width: 8ch;">7 day max close</th>
        <th style="text-align:center; width: 8ch;">7 day min close</th>
        </tr>
    </thead>
    <tbody>
      {% for item in tickers_with_data %}
        <tr style="border: 1pt solid black;">
          <td style="border: 1pt solid black; padding: 3pt; text-align:center;">
            <a href="{% url 'edit_ticker' item.ticker.id %}">{{ item.ticker.symbol }}</a>
          <td style="border: 1pt solid black; padding: 3pt; text-align:center;">
            <a href="{% url 'ticker_detail' item.ticker.id %}">Details</a> <a href="{% url 'ticker_delete' item.ticker.id %}">Delete</a>
          </td>
          <td style="border: 1pt solid black; padding: 3pt; text-align:center;">
            {% if item.ticker.is_daily %}
              <a href="{% url 'daily_price_list' item.ticker.id %}">Daily</a>
            {% endif %}
          </td>
          <td style="border: 1pt solid black; padding: 3pt; text-align:center;">
            {% if item.ticker.is_fifteen_min %}
              <a href="{% url 'fifteen_min_price_list' item.ticker.id %}">15 min</a>
            {% endif %}
          </td>
          <td style="border: 1pt solid black; padding: 3pt; text-align:center;">
            {% if item.ticker.is_five_min %}
              <a href="{% url 'five_min_price_list' item.ticker.id %}">5 min</a>
            {% endif %}
          </td>
          <td style="border: 1pt solid black; padding: 3pt; text-align:center;">
            {{ item.latest_candle.close_price }}
          </td>
          <td style="border: 1pt solid black; padding: 3pt; text-align:center; color: {% if item.ticker.avg_volume_100_days < 250 %}red{% endif %};">
            {{ item.ticker.avg_volume_100_days|intcomma }}
          </td>
          <td style="border: 1pt solid black; padding: 3pt; text-align:center; color: {% if item.ticker.ma_200_trend_strength > 0.065 %}green{% elif item.ticker.ma_200_trend_strength > -0.065 %}orange{% else %}red{% endif %};">
            {{ item.ticker.ma_200_trend_strength }}
          </td>
          <td style="border: 1pt solid black; padding: 3pt; text-align:center;">
            {{ item.ticker.nearest_level_percent_distance|floatformat:2 }} %
          </td>
          <td style="text-align:center;">
            {{ item.ticker.nearest_level_type }}
          </td>
          <td style="text-align:center;">
            {{ item.ticker.nearest_level_value|floatformat:2 }}
          </td>
          <td style="text-align:center;">
            {{ item.latest_candle.bullish_detected }}
          </td>
          <td style="text-align:center;">
            {{ item.latest_candle.bullish_reversal_detected }}
          </td style="text-align:center;">
          <td>
            {{ item.latest_candle.reversal_detected }}
          </td>
          <td style="text-align:center;">
            {{ item.latest_candle.bearish_detected }}
          </td>
          <td style="text-align:center;
            color: {% if item.ticker.tae_strategy_score > 0 and item.ticker.ma_200_trend_strength > 0 %}green{% elif item.ticker.tae_strategy_score > 0 and item.ticker.ma_200_trend_strength < 0 %}red{% endif %};
            font-weight: {% if item.ticker.tae_strategy_score > 0 %}bold{% endif %};">
          </td>

            {{ item.ticker.tae_strategy_score }}
          </td>

          <td style="border: 1pt solid black; padding: 3pt; text-align:center; color: {% if item.ticker.cumulative_two_period_two_day_rsi < 10 %}green{% elif item.ticker.cumulative_two_period_two_day_rsi > 65 %}red{% endif %}; {% if item.ticker.cumulative_two_period_two_day_rsi < 10 %}font-weight:bold{% endif %};">
            {{ item.ticker.cumulative_two_period_two_day_rsi|floatformat:1 }}
          </td>
          <td style="text-align:center; color: {% if item.latest_candle.close_price >= item.ticker.seven_day_max  %}red{% endif %}; {% if item.latest_candle.close_price >= item.ticker.seven_day_max  %}font-weight:bold{% endif %};">
            {{ item.ticker.seven_day_max|floatformat:1 }}
          </td>
          <td style="text-align:center; color: {% if item.latest_candle.close_price <= item.ticker.seven_day_min %}green{% endif %}; {% if item.latest_candle.close_price <= item.ticker.seven_day_min  %}font-weight:bold{% endif %};">
            {{ item.ticker.seven_day_min|floatformat:1 }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
