{% extends "base.html" %}

{% block content %}
<head>
    <title>Executed Trades</title>
</head>
<body>
    <h1>{% if status == "0" %}Planned trades
        {% elif status == "1" %}Scheduled trades
        {% else %}Executed trades
        {% endif%}</h1>
    {% for opp in trading_opps %}
        <h3>{{ opp.ticker.symbol }} (ID: {{ opp.id }})</h3>
          <form method="post" action="{% url 'update_tradingopp' opp.id %}">{% csrf_token %}
              <input type="hidden" name="opp_status" value="{{ status }}">
              <strong>{{ opp.action_buy|yesno:"BUY,SELL" }}</strong><br>
              {% if opp.reward_risk %}<li>Reward/Risk: {{ opp.reward_risk }} %</li>{% endif %}
              {% if opp.trade_profit %}<li>Trade profit: {{ opp.trade_profit }}</li>{% endif %}
              <li>Breakeven price: {{ opp.breakeven_price }} (+{{ opp.breakeven_rise_percent }} %)</li>
              <li><strong>Stop Loss Price:</strong> {{ opp.stop_loss_price }}</li>
              <li><strong>Profit Taker Price:</strong> {{ opp.profit_taker_price }}</li>

              <img src="{% url 'swing_point_graph' opp_id=opp.id %}" alt="Swing Points Graph" style="width: 400px; height: auto;"><br>
              <a href="{% url 'ticker_detail' opp.ticker.id %}" target="_blank">{{ opp.ticker.symbol }}<br>{{ opp.ticker.company_name }}</a><br>{{ opp.strategy.name }}<br>
              {{ opp.datetime_identified }}<br>
          </form>
    {% endfor %}
</body>
{% endblock %}

