{% extends "base.html" %}

{% block content %}
<head>
    <title>Trading Opportunities</title>
</head>
<body>
    <h1>Active Trading Opportunities</h1>
    {% for ticker, opps in ticker_opps.items %}
        <h2><a href="{% url 'ticker_detail' ticker.id %}">{{ ticker.symbol }} - {{ ticker.company_name }}</a></h2>
        <table border="1">
            <thead>
                <tr>
                    <th style="text-align:center; width: 8ch;">Action</th>
                    <th style="text-align:center; width: 30ch;">Graph</th>
                    <th  style="text-align:center; width: 14ch;">Strategy Name</th>
                    <th  style="text-align:center; width: 30ch;">Strategy desciption</th>
                    <th  style="text-align:center; width: 80ch;">Metrics</th>
                </tr>
            </thead>
            <tbody>
            {% for opp in opps %}
                <tr>
                    <td style="text-align:center; color: {% if opp.action_buy == 1 %}green{% else %}red{% endif %};"><strong>{% if opp.action_buy %}BUY{% else %}SELL{% endif %}</strong></td>
                    <td><img src="{% url 'swing_point_graph' opp_id=opp.id %}" alt="Swing Points Graph" style="width: 400px; height: auto;"></td>
                    <td>{{ opp.strategy.name }}</td>
                    <td>{{ opp.strategy.description }}</td>
                    <td>
                        {% for label, value in opp.translated_metrics.items %}
                            <strong>{{ label }}:</strong> {{ value }}<br>
                        {% endfor %}
                        {{ opp.metrics_snapshot }}<br>
                        Identified {{ opp.datetime_identified }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% empty %}
        <p>No active trading opportunities found.</p>
    {% endfor %}
</body>
{% endblock %}
