{% extends "base.html" %}

{% block content %}
<head>
    <title>Trading Performance List</title>
</head>
<body>
    <h1>Trading Performance List</h1>
        <h3>Summary</h3>
        <p>Currently invested EUR: {{ cum_eur_invested }}</p>
        <h3>Individual trade performance</h3>
        <table border="1">
            <thead>
                <tr>
                    <th colspan="2" style="text-align:center;">Ticker</th>
                    <th colspan="2" style="text-align:center;">Date</th>
                    <th colspan="2" style="text-align:center;">Initial investment</th>
                    <th colspan="3" style="text-align:center;">Units</th>
                    <th colspan="2" style="text-align:center;">Income from sales</th>
                    <th colspan="4" style="text-align:center;">Commissions</th>
                    <th colspan="2" style="text-align:center;">Realised profit</th>
                    <th colspan="1" style="text-align:center;">Current price</th>
                    <th colspan="2" style="text-align:center;">Value of holding</th>
                    <th colspan="2" style="text-align:center;">Unrealised profit</th>
                </tr>
                <tr>
                    <th style="text-align:center; width: 12ch;">Symbol</th>
                    <th style="text-align:center; width: 12ch;">TradingOpp</th>
                    <th style="text-align:center; width: 12ch;">Purchase</th>
                    <th style="text-align:center; width: 12ch;">Last sale</th>
                    <th style="text-align:center; width: 12ch;">Currency</th>
                    <th style="text-align:center; width: 12ch;">EUR</th>
                    <th style="text-align:center; width: 12ch;">Purchased</th>
                    <th style="text-align:center; width: 12ch;">Sold</th>
                    <th style="text-align:center; width: 12ch;">Held</th>
                    <th style="text-align:center; width: 12ch;">Currency</th>
                    <th style="text-align:center; width: 12ch;">EUR</th>
                    <th style="text-align:center; width: 12ch;">Paid in currency</th>
                    <th style="text-align:center; width: 12ch;">Paid in EUR</th>
                    <th style="text-align:center; width: 12ch;">Expected in currency</th>
                    <th style="text-align:center; width: 12ch;">Expected in EUR</th>
                    <th style="text-align:center; width: 12ch;">Currency</th>
                    <th style="text-align:center; width: 12ch;">EUR</th>
                    <th style="text-align:center; width: 12ch;">Currency</th>
                    <th style="text-align:center; width: 12ch;">Currency</th>
                    <th style="text-align:center; width: 12ch;">EUR</th>
                    <th style="text-align:center; width: 12ch;">Currency</th>
                    <th style="text-align:center; width: 12ch;">EUR</th>
                </tr>
            </thead>
        <tbody>
        {% for opp in trading_opps %}
            <tr style="background-color: {{ opp.colour }};">
                <td style="text-align:center;"><a href="{% url 'ticker_detail' opp.ticker.id %}">{{ opp.ticker.symbol }}</a></td>
                <td style="text-align:center;">{{ opp.id }}</td>
                <td style="text-align:center;">{{ opp.purchase_date|date:"d/m/y" }}</td>
                <td style="text-align:center;">{{ opp.last_sale_date|date:"d/m/y" }}</td>
                <td style="text-align:right;">{{ opp.amount_invested_currency }}</td>
                <td style="text-align:right;">{{ opp.amount_invested_eur }}</td>
                <td style="text-align:right;">{{ opp.units_purchased }}</td>
                <td style="text-align:right;">{% if opp.units_sold > 0%}{{ opp.units_sold }}{% endif %}</td>
                <td style="text-align:right;">{% if opp.units_still_owned > 0%}{{ opp.units_still_owned }}{% endif %}</td>
                <td style="text-align:right;">{% if opp.income_currency > 0%}{{ opp.income_currency }}{% endif %}</td>
                <td style="text-align:right;">{% if opp.income_eur > 0%}{{ opp.income_eur }}{% endif %}</td>
                <td style="text-align:right;">{{ opp.commissions_paid_currency }}</td>
                <td style="text-align:right;">{{ opp.commissions_paid_eur }}</td>
                <td style="text-align:right;">{% if opp.commissions_expected_currency > 0%}{{ opp.commissions_expected_currency }}{% endif %}</td>
                <td style="text-align:right;">{% if opp.commissions_expected_eur > 0%}{{ opp.commissions_expected_eur }}{% endif %}</td>
                <td style="text-align:right;">{{ opp.realised_profit_currency }}</td>
                <td style="text-align:right;">{{ opp.realised_profit_eur }}</td>
                <td style="text-align:right;">{% if opp.units_still_owned > 0%}{{ opp.latest_close_price }}{% endif %}</td>
                <td style="text-align:right;">{% if opp.units_still_owned > 0%}{{ opp.value_of_holding_currency }}{% endif %}</td>
                <td style="text-align:right;">{% if opp.units_still_owned > 0%}{{ opp.value_of_holding_eur }}{% endif %}</td>
                <td style="text-align:right;">{{ opp.unrealised_profit_currency }}</td>
                <td style="text-align:right;">{{ opp.unrealised_profit_eur }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}