{% extends "base.html" %}

{% block content %}
<head>
    <title>Trading Opportunities</title>
</head>
<body>
    <h1>Active Trading Opportunities</h1>
    {% for ticker, opps in ticker_opps.items %}
        <h2><a href="{% url 'ticker_detail' ticker.id %}">{{ ticker.symbol }} - {{ ticker.company_name }}</a></h2>
        <ul>
        {% for opp in opps %}
            <li>
                <strong>{% if opp.action_buy %}BUY{% else %}SELL{% endif %}</strong> Strategy: {{ opp.strategy.name }} - Identified: {{ opp.datetime_identified }} <br>
                Metrics: {{ opp.metrics_snapshot }}<br>
                Recent swing points: {{opp.recent_swing_points }}
            </li>
        {% endfor %}
        </ul>
    {% empty %}
        <p>No active trading opportunities found.</p>
    {% endfor %}
  {% endblock %}
