{% extends "base.html" %}

{% block content %}
<head>
    <title>Trading Opportunities with Trades</title>
</head>
<body>
    <h1>Trade Performance List</h1>
        <table border="1">
            <thead>
                <tr>
                    <th style="text-align:center; width: 12ch;">Date</th>
                    <th style="text-align:center; width: 8ch;">Action</th>
                    <th style="text-align:center; width: 8ch;">Price</th>
                    <th style="text-align:center; width: 12ch;">Exchange Rate</th>
                    <th style="text-align:center; width: 8ch;">Units</th>
                    <th style="text-align:center; width: 12ch;">Commission</th>
                    <th style="text-align:center; width: 20ch;">Notes</th>
                    <th style="text-align:center; width: 10ch;">Planned</th>
                </tr>
            </thead>
            <tbody>
            {% for opp in trading_opps %}
                    {% for trade in opp.trades.all %}
                        <tr style="background-color: {% if trade.action == '1' %}lightblue{% else %}lightcoral{% endif %};">
                            <td><input type="date" name="date_{{ trade.id }}" value="{{ trade.date|date:'Y-m-d' }}"></td>
                            <td>
                                <input type="radio" name="action_{{ trade.id }}" value="1" {% if trade.action == "1" %}checked{% endif %}> Buy<br>
                                <input type="radio" name="action_{{ trade.id }}" value="0" {% if trade.action == "0" %}checked{% endif %}> Sell
                            </td>
                            <td><input type="number" step="any" name="price_{{ trade.id }}" style="width: 80px;" value="{{ trade.price }}"></td>
                            <td><input type="number" step="any" name="rate_to_eur_{{ trade.id }}" style="width: 80px;" value="{{ trade.rate_to_eur }}"></td>
                            <td><input type="number" step="any" name="units_{{ trade.id }}" style="width: 80px;" value="{{ trade.units }}"></td>
                            <td><input type="number" step="any" name="commission_{{ trade.id }}" style="width: 60px;" value="{{ trade.commission }}"></td>
                            <td><textarea type="text" name="notes_{{ trade.id }}">{{ trade.notes }}</textarea></td>
                            <td><input type="checkbox" name="planned_{{ trade.id }}" {% if trade.planned %}checked{% endif %}> Planned<br>
                            <input type="checkbox" name="delete_{{ trade.id }}"> DELETE</td>
                        </tr>
                    {% endfor %}
                    {% if opp.status == 1 %}
                        <tr>
                            <td><input type="date" name="new_date_{{ opp.id }}"></td>
                            <td>
                                <input type="radio" name="new_action_{{ opp.id }}" value="1" checked> Buy
                                <input type="radio" name="new_action_{{ opp.id }}" value="0"> Sell
                            </td>
                            <td><input type="number" step="any" name="new_price_{{ opp.id }}" style="width: 80px;"></td>
                            <td><input type="number" step="any" name="new_rate_to_eur_{{ opp.id }}" style="width: 80px;"></td>
                            <td><input type="number" step="any" name="new_units_{{ opp.id }}" style="width: 80px;"></td>
                            <td><input type="number" step="any" name="new_commission_{{ opp.id }}" style="width: 60px;"></td>
                            <td><input type="text" step="any" name="new_notes_{{ opp.id }}"></td>
                            <td><input type="submit" value="Add New Trade"></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <input type="submit" value="Save Changes">
        </form>
        <h3>Trade performance</h3>
            Initially invested: {{ opp.amount_initially_invested_currency }} in foreign currency<br>
            Still invested: {{ opp.amount_still_invested_currency }} in foreign currency<br>
            Income from sale: € {{ opp.income_from_sales_eur }}<br>
            Commissions: € {{ opp.commissions_total_eur }}<br>
            Realised profit: € {{ opp.realised_profit_eur }}<br>
        <hr>
    {% endfor %}
</body>
{% endblock %}