{% extends "base.html" %}

{% block content %}
<head>
    <title>Trading Opportunities</title>
</head>
<body>
    <h1>Active Trading Opportunities</h1>
    {% for ticker, opps in ticker_opps.items %}
        <h2><a href="{% url 'ticker_detail' ticker.id %}">{{ ticker.symbol }} - {{ ticker.company_name }}</a></h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Action</th>
                    <th style="width: 24ch;">Graph</th>
                    <th>Strategy Name</th>
                    <th>Date Identified</th>
                    <th>Metrics</th>
                </tr>
            </thead>
            <tbody>
            {% for opp in opps %}
                <tr style="height: 12ch;">
                    <td>{% if opp.action_buy %}BUY{% else %}SELL{% endif %}</td>
                    <td><img src="{% url 'swing_point_graph' opp_id=opp.id %}" alt="Swing Points Graph" style="width: 100px; height: auto;"></td>
                    <td>{{ opp.strategy.name }}</td>
                    <td>{{ opp.datetime_identified }}</td>
                    <td>{{ opp.metrics_snapshot }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% empty %}
        <p>No active trading opportunities found.</p>
    {% endfor %}
</body>
{% endblock %}
